body,html{
  margin:0;
  padding:0;
}

h1{
 margin:50px auto;
 width:260px;
 font-size:29px;
}

#main{
  margin:50px auto;
  width:260px;
}

#calc{
  margin-left:52px;
  width:60px;
}

input{
  margin:5px 0;
}

span{
  color:red;
  margin-left:2px;
}

#width-validate,#height-validate{
  color:red;
  margin-left:36px;
}

#a{
  margin-left:40%;
}

